/*
!/.git
!/.gitattributes
!/.gitignore
!/README.md
!/websLab1
websLab1/*
!websLab1/websLab1
!websLab1/websLab1.sln
!websLab1/.vs
websLab1/websLab1/*
!websLab1/websLab1/Properties
!websLab1/websLab1/Properties/*.cs
!websLab1/websLab1/Properties/*.config
!websLab1/websLab1/Properties/*.resx
!websLab1/websLab1/Properties/*.csproj
!websLab1/websLab1/bin/*
!websLab1/websLab1/bin/Debug/*
!websLab1/websLab1/obj/*
!websLab1/websLab1/obj/Debug/*